<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Order</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        <% @wings.each do |wing| %>
            <tr>
                <td><%= wing.name %></td>
                <td><%= wing.display_order %></td>
                <td><%= link_to "Edit", edit_admin_wing_path(wing) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
