@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: beige;
}

.card {
  margin-top: 10px;
}

.login-clean {
  margin-top: 5px;
}

.form-partial {
  margin-top: 10px;
}

trix-editor#note_content {
  height: 350px;
}
