<section class="login-clean">
    <form method="post">
        <h6 >Login Form</h6>
        <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
        <div class="form-group"><button class="btn btn-outline-dark btn-block" type="submit">Log In</button></div>
    </form>

    <%= link_to "Create new note", new_note_path %>
</section>